body
{
    background-color: #ffffff !important;
  /*background-image: url('http://www.freepik.es/vector-gratis/fondo-con-un-patron-de-cuadrados-blanco_1053501.htm') fixed;*/
    background-size: cover;
    padding: 0;
    margin-bottom: auto;
 

}
#content {

  padding-top: 7%;
}

.p0 {
    padding-bottom: 0px !important;
    width: 100%;
    position: relative;
    padding-top: 5px, 0, 0,5px;
}
.pf {
position: fixed;
bottom: 0px;
 }

.imglogo{
    width: 100%;

 }
  .inner {
    position: relative;
    margin: 0 auto;
    text-align: center;
	font-size:4em;
	
	
  }
 
 
  
h1.encb
{
text-align:center;
font-size: 2em;
	
}
h5{
    color:#212121;
}


.centrar-vertical
{
	margin: 10%;
	border: 1.5px solid #212121;
	box-shadow:   2px 3px 5px #212121;
	-webkit-box-shadow:   2px 3px 5px #212121;
	-moz-box-shadow:  2px 3px 5px #212121;
    background-color: #00073B;
}
.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    left: 0;
    /*z-index: 99;*/
}

p.form-title
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #123A8D;
    margin-top: 3%;
    text-transform: uppercase;
    letter-spacing: 4px;
}
p.form-subtitle
{
    font-family:fantasy;
    font-size: 200%;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    background-color: #00FF00;
    width:30%;
    margin: 0 auto;
	padding:3%;
	border: 1px solid #61575d;
	border-bottom:0;
    background-color: #61575d;
    border-radius: 0.5em;
    min-width: 30%;
    margin-bottom: 5px;
    -webkit-box-shadow: 3px 3px 4px 4px #797575;
  -moz-box-shadow: 3px 3px 4px 4px  #797575;
  filter: shadow(color=#797575, direction=135, strength=2);


}


form.login input[type="text"], form.login input[type="password"]
{
    width: 80%;
    margin: 0;
    padding: 8px 10px;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #212121;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 55%;
    font-size: 15px;
    text-transform: uppercase;
    /*font-family: sans-serif;
    font-weight: bold;*/
    margin-top: 16px;
	margin-bottom: 16px;
    outline: 0;
    cursor: pointer;
   /* letter-spacing: 1px;*/
    background-color: #0009df;
    border-radius: 0.5em;
    color: white;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.8s ease;
    background-color: #33ACFF;
}

form.login .remember-forgot
{
    /*float: left;
    width: 100%;
    margin: 10px 0 0 0;*/
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    left: 0;
   /* z-index: 999;
    display: none;*/
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

input[disabled]  {
    
    background-color: #0B610B;
    cursor: not-allowed;
    color:#f4f4f4;
    opacity: 0.8;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;

}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

.pfooter 
{
   text-align:center;
   padding: 0;
   font-size: 0.8em;
   margin: 

}


 #myform input[type="password"],#myform input[type="text"]{
-webkit-appearance: none;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-transition: border .25s linear, color .25s linear;
-moz-transition: border .25s linear, color .25s linear;
-o-transition: border .25s linear, color .25s linear;
transition: border .25s linear, color .25s linear;
-webkit-backface-visibility: hidden;
width:60%;
height: auto;
}

#myform input[type="password"]:focus,#secretkey input[type="password"]:focus{
outline:0;
}


.strength_meter div{
    height:auto;
    width:95%;
   
     max-width: 95%;
    text-align:center;
    color:white;
    font-weight:bold;
    line-height:23px;
}

.button_strength {
text-decoration: none;
color: #FFF;
font-size: 12px;
}
.strength_meter div{
width:95%;
height: auto;
text-align: center;
color: #000;
line-height: 35px;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
padding-right: 12px;
border-radius:5px;
}
.strength_meter div p{

top: 22px;
right: 0px;
color: #FFF;
font-size:13px;
}

.veryweak{
    background-color: #DF0101;
border-color: #F04040!important
}
.weak{
background-color: #F78181;
border-color: #FF853C!important;
}
.medium{
background-color: #FF8000;
border-color: #FC0!important;
}
.strong{
background-color: #0009df;
border-color: #8DFF1C!important;
}
h2{
    color:#123A8D;
    font-size:45px;
    text-align:center;
    padding-top:15px;
    margin-bottom:20px;
}
h2 span{
    font-weight:bold;
    color:#0093FB;
    opacity:.9;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

footer {
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #bdbdbd;
  padding-right: 15px;
  padding-left: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  
}

.c{
    background-color: #bdbdbd;
    position: relative;
    width: 100%;
    background-color:  #0D2F6E;
    color: #f1f1f1;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 5px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.logo{
    margin-bottom:  5px;
}

i title{background-color: #FF1515
}