/* slider */
.slider {
  position: relative;
  z-index: 1;
  padding: 0;
  margin-top: -68px;
}
.camera_wrap {
  margin-bottom: 0 !important;
}
.camera_thumb {
  width: 150px;
  height: auto;
}
.camera_wrap .camera_pag {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -465px;
  z-index: 999;
}
.camera_wrap .camera_pag .camera_pag_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
  display: none;
}
.camera_wrap .camera_pag .camera_pag_ul li {
  background: #b2b2b2;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover {
  background: #373737;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent {
  background: #373737;
  cursor: default;
}
.camera_caption {
  display: none;
}