
 <script type="text/javascript">
        $(function () {
            $('#importDialog').modal({ 'show': false });
        });
</script>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-default" style="background-color:#35474F;">
				<div class="navbar-header" >
					<a class="navbar-brand" href="#" style="color:#00FFFF;"> Ejecutivos de Venta <b style="color:#FF5733;">
					</b></a>
				</div>
			</nav>
			<div ng-app="AppEjecutivoVentas" ng-controller="EjecutivoVentasController" align="center">	
				<div class="demo-container">
					<div id="gridContainer" dx-data-grid="gridOptions"></div>
				</div>
			
				<br>
				<button class="btn btn-info" type="submit" name="cargar" value="cargar" onClick="dirinstall()">Cargar Nuevo Ejecutivo de Ventas</button>
			<button class="btn" ng-click="open()">Open me!</button>
			</div>

			<div id="importDialog" class="modal-dialog modal-vertical-centered" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h4>Import Statements</h4>
                </div>
                <div class="modal-body">
                    <div dx-select-box="selectBoxSettings"></div>
                    <div dx-button="{
                            text: 'Set value',
                            clickAction: clickHandler
                        }">
                    </div>
                    <input data-ng-model="selectedCategory" style="width: 100px" />
                    <input data-ng-model="selectedCategory.Description" style="width: 100px" />
                </div>
            </div>
        </div>
    </div> 		
		</div>
	</div>
</div>

  <div class="container" ng-app="DemoApp" ng-controller="DemoController">
        <div id="popup">
        
            <h1>Employees</h1>
        
            <ul>
                <li ng-repeat="employee in employees">
                    <img ng-src="{{employee.Picture}}"/><br/>
                    <i>{{employee.FirstName}} {{employee.LastName}}</i><br/>
                    <div class="button-info" dx-button="{ 
                        text: 'Details', 
                        onClick: showInfo 
                    }"></div>
                </li>
            </ul>
        
            <div ng-init="currentEmployee">
                <div class="popup" 
                    dx-popup="popupOptions">
                    <div data-options="dxTemplate: { name:'info' }">
                        <p>
                            Full Name:
                            <span>{{currentEmployee.FirstName}}</span> 
                            <span>{{currentEmployee.LastName}}</span>
                        </p>            
                        <p>
                            Birth Date:
                            <span>{{currentEmployee.BirthDate}}</span>
                        </p>
                        <p>
                            Address:
                            <span>{{currentEmployee.Address}}</span>
                        </p>
                        <p>
                            Hire Date:
                            <span>{{currentEmployee.HireDate}}</span>
                        </p>
                        <p>
                            Position:
                            <span>{{currentEmployee.Position}}</span>
                        </p>
                    </div>
                </div>    
            </div>
            
        </div>
    </div>
