html,
body {
    height: 100%;

}
html {
   /* display: table;*/
    margin: auto;
  

 
}
body {

/*
   	background-image: url("../../img/fondo.png");*/
background-image: linear-gradient(to right bottom, #b8cee5, #a4c1e4, #91b5e2, #7fa7e0, #6e9ade, #5d9ee5, #46a3eb, #19a7f0, #00bef8, #00d4fa, #1ae8f7, #5ffbf1);    background-repeat: no-repeat;
    /*display: table-cell;
    vertical-align: middle;
*/
}

.padre {
  /*background: yellow;*/
  height: 150px;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-top:80px;*/
  padding: 0.5em;
}

.hijo {

  background: white;
  width: 300px;
  border-radius: 0.5em;
}